<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<body>
  {{#if dogs}}
    <h1>Dogs</h1>
    <ul>
      {{#each dogs}}
        <li> {{this.name}} is a {{this.breed}} that is {{this.age}} years old</li>
      {{/each}}
    </ul>
  {{/if}}
</body>

</html>